@tailwind base;
@tailwind components;
@tailwind utilities;

.menubar {
  @apply outline-none hover:border-blue-700 border-transparent border-b-2 text-sm;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Eudoxus Sans";
  /* max-width: 1440px; */
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "Eudoxus Sans";
  src: url(./fonts/EudoxusSans-Regular.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

img {
  max-width: 100%;
  height: auto;
  background: none;
}
